:root {
  /* Universal */
  --background: #F7F7F8;
  --background-shadow: #dce0e5;
  --text-shadow: #00000010;

  /* Hero */
  --hero-background: #7770ff;
  --title: white;
  --subtitle: #dfdfdf;

  /* Colors */
  --steel-blue: #4782B6;
  --athens-gray: #E1E5E9;
  --blue-bell: #9691C4;
  --ronchi: #EEBE4B;
  --flush-mahogany: #D04143;
  --light-orchid: #D88FC1;
  --bombay: #B4B9C2;
  --marzipan: #F8DA8E;
  --prelude: #D7B6E4;
  --whitePage: #FCFCFD;
  --wrong-question: #D04143;
  --correct-question: #77A535;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: var(--background);
  font-family: -apple-system , BlinkMacSystemFont , 'Segoe UI' , 'Roboto' , 'Oxygen' , 'Ubuntu' , 'Cantarell' , 'Fira Sans' , 'Droid Sans' , 'Helvetica Neue' , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.Gamepage {
  background-color: var(--bombay);
}

code {
  font-family: source-code-pro , Menlo , Monaco , Consolas , 'Courier New' , monospace;
}
